<div>
    <%= form_for(@cleaner, url: cleaners_path, remote: true , html: {class: 'cleaner_form table'}) do |form| %>
        <%if @cleaner.errors.any? %>
            <h2>
                <%= pluralize(@cleaner.errors.count, 'error')%>
                this cleaner information save before plz follow validation
            </h2>
            <% @cleaner.errors.full_messages.each do |error|%>
                <div><%= error%></div>
            <% end %>
        <% end %>
        <div class="form-group">
            <%= form.label 'First Name'%>
            <%= form.text_field :first_name, class: 'form-control', placeholder: 'enter your first name'%>
        </div>
        <div class="form-group">
            <%= form.label 'Last Name'%>
            <%= form.text_field :last_name, class: 'form-control', placeholder: 'enter your last name'%>
        </div>
        <div class="form-group">
            <%= form.label 'City Lists'%>:
            <%= form.collection_check_boxes(:city_ids, current_user.cities.all, :id, :name, checked: @cleaner.cities.map(&:id)) do |b| %>
                <%= b.check_box %> <%= b.label %>
            <% end %>
        </div>
        <div class="form-group">
            <%= form.label 'Phone No'%>:
            <%= form.text_field :phone_no, class: 'form-control', placeholder: 'enter your phone no'%>
        </div>
        <div class="form-group">
            <%= form.label 'Quality Score'%>:
            <%= form.text_field :quality_score, class: 'form-control', placeholder: 'enter your quality score'%>
        </div>
        <%= form.submit 'Submit', class: 'btn btn-primary'%>
    <% end %>
</div>
