<div class="col-md-6">
    <%= form_for(@profile, remote: true, html: {class: 'profile_form'}) do |form| %>
        <%if @profile.errors.any? %>
            <h2>
                <%= pluralize(@profile.errors.count, 'error')%>
                this profile information save before plz follow validation
            </h2>
            <% @profile.errors.full_messages.each do |error|%>
                <div><%= error%></div>
            <% end %>
        <% end %>
        <div class="form-group">
            <%= form.label :'First Name'%>
            First Name: <%= form.text_field :first_name, class: 'form-control', placeholder: 'enter your first name'%>
        </div>
        <div class="form-group">
            <%= form.label :'Last Name'%>
            <%= form.text_field :last_name, class: 'form-control', placeholder: 'enter your last name'%>
        </div>
        <div class="form-group">
            <%= form.label :'Address'%>
            <%= form.text_area :address, class: 'form-control', placeholder: 'enter your quality score'%>
        </div>
        <div class="form-group">
            <%= form.label :'Phone No'%>
            <%= form.text_field :mobile_no, class: 'form-control', placeholder: 'enter your phone no'%>
        </div>
        <%= form.submit 'add Cleaner', class: 'btn btn-success'%>
    <% end %>
</div>
<div class='profile-data'>
    <%= render partial: "show" %>
    <%= link_to  "back", root_path %>
</div>
