<div>
    <%= form_for(@city, remote:true, html: {class: 'city_form table'}) do |city_form| %>
        <%if @city.errors.any? %>
            <h2>
                <%= pluralize(@city.errors.count, 'error')%>
                this city information save before plz follow validation
            </h2>
            <% @city.errors.full_messages.each do |error|%>
                <div><%= error%></div>
            <% end %>
        <% end %>
        <div class="form-group">
            <%= city_form.label 'City Name'%><span>*</span>
            <%= city_form.text_field :name, class: 'form-control', placeholder:'enter city name' %>
        </div>
            <%= city_form.submit 'Submit', class:'btn btn-primary'%>
    <% end %>
</div>
